bin
obj
ci-artifacts
*.suo
*.user
*.orig
ipch
debug/
release/
TestResults/
BuildResults.xml
*.aps
*.results.xml
*.log
*.wrn
*.err
intermediate
*.metaproj
*.tmp
packages/
.vs/
.vscode/
project.lock.json
.DS_Store
